@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main {
  margin-top: 200px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 12;
}

.header__logo {
  width: 150px;
}

.header__name {
  color: #133153;
}

.header__header-bottom {
  background-color: #103968;
  padding: 10px 0 10px 0;
}

.header-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  max-width: 70%;
  margin: auto;
}

.navigation__item {
  color: white;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
}

.navigation__item::after {
  content: "";
  display: block;
  height: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 0%;
  background-color: #B9B0B0;
}

.navigation__item:hover::after {
  width: 100%;
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.active {
  color: red;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: 150px;
  background-color: #F5FAFE;
  padding-top: 50px;
}

.main__list {
  list-style: none;
  padding: 0;
}

.main__list li:before {
  content: "— ";
  position: relative;
  left: -5px;
}

.main__item {
  font-size: 20px;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__text-like {
  text-transform: uppercase;
  color: #d86969;
}

.main__content {
  max-width: 600px;
  min-width: 500px;
}

.main__header {
  font-size: 33px;
  font-weight: semibold;
  margin-bottom: 10px;
}

.main__text {
  font-size: 20px;
}

.main__aside-bar {
  max-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-title {
  line-height: 20px;
}

.table-success {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.table-success__item {
  border: 1px solid black;
  padding: 10px;
  background-color: #ee7676;
}

.table-success__item:nth-child(n+10):nth-child(-n+12) {
  background-color: #a77cb8;
}

.table-success__item:nth-child(4n - 3) {
  font-weight: bold;
  background-color: grey;
}

.table-success__item:nth-child(-n + 4) {
  font-weight: bold;
  background-color: grey;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: auto;
  background-color: #103968;
  padding: 10px 0 10px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__motto {
  color: white;
  margin-left: 10px;
}

.footer__networks {
  -webkit-box-shadow: 2px 5px 5px white;
          box-shadow: 2px 5px 5px white;
  border-radius: 10px;
}

.footer__author {
  color: white;
}

.load-time {
  color: white;
}

.hrefform {
  color: white;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .navigation {
    max-width: 80%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .navigation__item {
    font-size: 18px;
  }
  .header__name {
    font-size: 28px;
  }
  .header__logo {
    width: 130px;
  }
  .main__header {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .main__aside-bar {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 420px;
    width: 92%;
  }
  .header-top {
    padding: 20px 0;
  }
  .header-top__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    display: none;
  }
  .navigation__item {
    font-size: 13px;
  }
  .main {
    margin-top: 100px;
  }
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 100%;
  }
  .main__header {
    font-size: 20px;
  }
  .main__text {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .main__item {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .table-success__item {
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 320px;
    width: 92%;
  }
  .header__name {
    font-size: 17px;
  }
  .header-top {
    padding: 20px 0;
  }
  .header-top__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    display: none;
  }
  .navigation__item {
    font-size: 10px;
  }
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 100%;
  }
  .main__header {
    font-size: 15px;
  }
  .main__text {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .main__item {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .table-success__item {
    font-size: 10px;
  }
}

.hotel-cards {
  position: relative;
}

.hotel-cards__swiper {
  width: 100%;
  height: 370px;
}

.hotel-cards__header {
  text-align: center;
  font-family: Comfortaa;
  font-size: 35px;
  margin-bottom: 35px;
}

.hotel-cards__item {
  border: 1px solid #B9B0B0;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 11px 15px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-cards__text-wrapper {
  min-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-cards__name {
  text-align: center;
  font-size: 18px;
}

.hotel-cards__wrapper-image {
  width: 250px;
  height: 130px;
  margin-bottom: 15px;
}

.hotel-cards__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.hotel-cards__sale {
  font-size: 18px;
  line-height: 18px;
}

.hotel-cards__btn {
  background: none;
  padding: 7px 25px;
  border: 1px solid #9C3835;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-weight: 300;
  font-size: 19px;
  line-height: 20px;
  cursor: pointer;
}

.hotel-cards__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 150px;
  margin: auto;
  margin-top: 30px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 200px;
}

.advantages__image {
  width: 23px;
  height: 23px;
  margin-right: 7px;
  margin-bottom: 5px;
}

.room-swiper-button {
  margin-bottom: 3px;
  background: none;
  position: static;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
}

.room-swiper-button__next {
  background: url("../../img/hotel-cards-next.svg");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.room-swiper-button__prev {
  background: url("../../img/hotel-cards-prev.svg");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.room-swiper-button::after {
  content: none;
}

.swiper-button::after {
  content: none;
}
/*# sourceMappingURL=style.css.map */