.header
	&__logo
		width: 150px
	&__name
		color: #133153
	&__header-bottom
		background-color: #103968
		padding: 10px 0 10px 0
.header-top
	&__wrapper
		display: flex
		justify-content: space-between
		align-items: center
.navigation
	max-width: 70%
	margin: auto
	&__item
		color: white
		font-size: 20px
	&__list
		list-style: none
		display: flex
		justify-content: space-between
